.wrap {
  width: 100vw;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    text-align: center;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
